.combobox {
  display: inline-flex;
  border: 1px solid transparent;
}

.combobox:hover {
  border: 1px solid #333;
}

.input {
  display: inline-block;
  font-size: 1rem;
  margin: 0;
  color: #fff;
  padding: 0.5rem 1rem;
  background: #000;
  border: none;
  flex-grow: 1;

  &:focus {
    outline: none;
  }
}

.expandButton {
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #000;
  border: none;
}

.expandButton svg {
  transition: all 0.2s ease-in;
}

.expandButton.open > svg {
  transform: rotate(180deg);
}

.suggestions {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;

  transform: translate3d(0px, 35px, 0);
}

.suggestion {
  display: block;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #333;
}

.suggestionButton {
  padding: 0.5rem 1rem;
  color: #fff;
  background: #000;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
}

.suggestionButton:hover {
  background: #333;
}

.answer {
  margin: 1rem;
}
